@model JuniorMath.Web.ViewModels.Patients.PatientViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="animated fadeIn">
    <form method="post" class="form-horizontal" id="myForm">
        <div class="row patients justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12 patient">
                <div class="card">
                    <section class="primary-patient-section patient">
                        <div class="card-header">
                            <strong>@ViewData["FormType"]</strong>
                            <input type="hidden" asp-for="PatientId" id="PatientIdHidden" />
                            <input type="hidden" asp-for="PrimaryMember" id="PrimaryMemberHidden" />
                        </div>
                        <div class="card-body patient-body">

                            <section class="patient-basic-section">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group ">
                                            <div class="has-float-label">
                                                <input asp-for="Email" class="form-control" placeholder="Email address" />
                                                <label for="Email">Email</label>
                                            </div>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <div class="has-float-label">
                                                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                                                <label for="FirstName">First Name</label>
                                            </div>
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group has-float-label">
                                            <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                                            <label for="LastName">Last Name</label>
                                            <span asp-validation-for="LastName" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="patient-address-section">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="has-float-label">
                                                <input asp-for="Company" class="form-control" placeholder="Company (optional)" />
                                                <label for="Company">Company</label>
                                            </div>
                                            <span asp-validation-for="Company" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="has-float-label">
                                                <input asp-for="Address.Address1" class="form-control" placeholder="Address" />
                                                <label for="Address_Address1">Address</label>
                                            </div>
                                            <span asp-validation-for="Address.Address1" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="has-float-label">
                                                <input asp-for="Address.Address2" class="form-control" placeholder="Appartment, suite, etc (optional)" />
                                                <label for="Address_Address2">Address2</label>
                                            </div>
                                            <span asp-validation-for="Address.Address2" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="has-float-label">
                                                <input asp-for="Address.City" class="form-control" placeholder="City" />
                                                <label for="Address_City">City</label>
                                            </div>
                                            <span asp-validation-for="Address.City" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group has-float-label">
                                            <select asp-for="Address.CountryId" id="selectCountry" name="selectCountry"
                                                    class="form-control"
                                                    asp-items="@(new SelectList(@ViewBag.ListofCountry,"Id", "Name"))"></select>
                                            <label for="selectCountry">Country</label>

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group has-float-label">

                                            <select asp-for="Address.RegionId" id="selectState" name="selectState"
                                                    class="form-control"
                                                    asp-items="@(new SelectList(@ViewBag.ListofRegion,"Id", "Name"))"></select>
                                            <label for="selectState">State</label>

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="has-float-label">
                                                <input asp-for="Address.PostalCode" class="form-control" placeholder="Postal code" />
                                                <label for="Address_PostalCode">PostalCode</label>
                                            </div>
                                            <span asp-validation-for="Address.PostalCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="has-float-label">
                                                <input asp-for="Phone" class="form-control" placeholder="Phone (optional)" />
                                                <label for="Phone">Phone</label>
                                            </div>
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 cursor-pointer" id="add_family_member">
                                        <i class="fa fa-plus fa-lg mt-4"></i>  <span>Add family member / Dependent</span>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>


                    <div class="card-footer add-patient-buttons">
                        <button type="button" class="btn btn-sm btn-primary" onclick="JuniorMath.Patient.AddNewPatientModal()">@ViewBag.buttonNname</button>

                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>Reset</button>
                    </div>
                </div>
            </div>


        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/views/Patients/newPatient.js" asp-append-version="true"></script>
}


