@using JuniorMath.ApplicationCore.DTOs.Invoices

@model InvoiceModel
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Invoice</title>
</head>

<body>
    <div style="background-color: #ededed;width: 772px; height: 890px;">
        <div style="padding: 78px 181px 71px 211px;">
            <div style="background-color: #FFFFFF; height: 100%;padding: 30px 30px;">
                <div style="text-align: center;">
                    <img src="@Url.Content(@Model.ImageUrl)" alt="">
                </div>
                <div style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
                    <label style="width: 197px;
                    height: 18px;
                    font-family: Arimo;
                    font-size: 16px;
                    color: #000000;
                    text-decoration: none solid rgb(0, 0, 0);font-weight: bold;">@Model.ClinicName</label>
                </div>
                <hr style="border-top: dashed 1px;" />


                <div style="text-align: center;padding: 20px 20px;">
                    <label style="width: 126px;
                            height: 58px;
                            font-family: Arimo;
                            font-size: 50px;
                            color: #2e2e2e;
                            text-decoration: none solid rgb(46, 46, 46);font-weight: bold;"><sup style="font-size: 20px;">$</sup>@Model.Total.ToString("0.00")</label>
                </div>
                <hr style="border-top: dashed 1px;" />
                @foreach (var item in Model.InvoiceItems)
                {
                        <div style="padding: 15px;">
                            <label style="width: 62px;
                                height: 18px;
                                font-family: Arimo;
                                font-size: 16px;
                                color: #737373;
                                text-decoration: none solid rgb(115, 115, 115);">@item.ItemName</label>
                                        <label style="width: 49px;
                                height: 18px;
                                font-family: Arimo;
                                font-size: 16px;
                                color: #737373;
                                text-decoration: none solid rgb(115, 115, 115); float: right;word-break: keep-all;">$@item.Total.ToString("0.00")</label>
                    </div>
                }
                    <hr style="border-top: dashed 1px;" />
                    <div style="padding: 15px;">
                        <label style="width: 34px;
                        height: 18px;
                        font-family: Arimo;
                        font-size: 16px;
                        color: #737373;
                        text-decoration: none solid rgb(115, 115, 115);">Total</label>
                                <label style="width: 49px;
                        height: 18px;
                        font-family: Arimo;
                        font-size: 16px;
                        color: #000000;
                        text-decoration: none solid rgb(0, 0, 0);float: right;word-break: keep-all;">$@Model.Total.ToString("0.00")</label>
                    </div>
            <hr style="border-top: dashed 1px;" />
                        <div style="text-align: center; padding: 20px 10px; width: 320px;
                            height: 90px;
                            font-family: Arimo;
                            font-size: 16px;
                            color: #000000;
                            text-decoration: none solid rgb(0, 0, 0);
                            text-align: center;
                            font-family: Arimo;
                            font-size: 16px;
                            color: #636363;
                            text-decoration: none solid rgb(99, 99, 99);
                            text-align: center;">
                                        <label style="font-weight: bold;">Dr. @Model.DoctorName</label><br>
                                        <span>@Model.ClinicName</span><br>
                                        <span>@Model.ClinicAddress.Address1</span><br>
                                        <span>@Model.ClinicAddress.Address2</span><br>
                                        <span>@Model.ClinicAddress.City, @Model.ClinicAddress.RegionName, @Model.ClinicAddress.PostalCode</span>
                        </div>
            <hr style="border-top: dashed 1px;" />
                @if (Model.AmountPaid != 0)
                {
            <div style="line-height: 1.5;
                            font-family: Arimo;
                            font-size: 16px;
                            color: #737373;
                            text-decoration: none solid rgb(115, 115, 115);">
                <label>@Model.PatientName</label><br>
                <label>@Model.InvoiceDate</label><br>

                @foreach (var item in Model.InvoicePayments)
                {
                    <label>VISA : XXXX XXXX XXXX @item.CardL4</label><br>
                    <label>AUTH CODE : @item.AuthorizationCode</label><br>
                }
            </div>
                }
                    </div>
        </div>
    </div>
</body>
</html>
